h5py==3.13.0
imgaug==0.4.0
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.9.2
keras-models==0.0.7
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
ml_dtypes==0.5.1
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.2.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==80.3.0
sklearn_utils==0.0.15
statsmodels==0.14.4
tensorflow==2.19.0
urllib3==2.4.0
